{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Help{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <p>Applications may request historical rain data via the API.</p>

  <dl>
    <dt>/rain-api</dt>
    <dd><span>GET</span>&mdash; Entry to API</dd>
    <dt>?meter=</dt>
    <dd><span>GET</span>&mdash; Test data includes: green_roof, rain_gauge</dd>
    <dt>&amp;resolution=</dt>
    <dd><span>GET</span>&mdash; May be one of: hourly, daily, monthly</dd>
    <dt>&amp;start=</dt>
    <dd><span>GET</span>&mdash; dd-mm-yy hh:mm, will be rounded to nearest period</dd>
    <dt>&amp;stop=</dt>
    <dd><span>GET</span>&mdash; dd-mm-yy hh:mm, will be rounded to nearest period, defaults to now.</dd>
    <dt>&amp;format=</dt>
    <dd><span>GET</span>&mdash; May be one of: json, xml, csv. Defaults to csv.</dd>
  </dl>

  
  <h2>Examples</h2>
  <p>Rain Gauge, one day, by hour, as CSV</p>
  <code>http://localhost:8000/rain-api?sensor=rain_gauge&amp;resolution=hourly&amp;start=2024-03-24&amp;stop=2024-03-24&amp;format=csv</code>
  
  <p>Green Roof, one week, by day, as JSON</p>
  <code>http://localhost:8000/rain-api?sensor=green_roof&amp;resolution=daily&amp;start=2024-03-24&amp;stop=2024-03-30&amp;format=json</code>
  
  <p>Green Roof, three months, by month, as XML</p>
  <code>http://localhost:8000/rain-api?sensor=green_roof&amp;resolution=monthly&amp;start=2024-02-01&amp;stop=2024-04-30&amp;format=xml</code>
  

  <h2>Resources</h2>
  <p>YouTube: <a href="https://www.youtube.com/watch?v=-2QW-D0B2nw">Get JSON API Data into Google Sheets</a></p>
  <p>YouTube: <a href="https://www.youtube.com/watch?v=1I6PDttljI0&amp;t=357">Send Birthday Greetings Daily Using Google Apps Script</a></p>

  {% endblock content %}
