p {
  max-width: 80ch;
}

dt {
  margin-top: 1rem;
  font-weight: bold;
}

dd {
  max-width: 80ch;
  margin-left: 4ch;
  color: darkcyan;
}

.row {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.row li {
  margin-left: 2rem;
  list-style: none;
}

.button {
  max-width: 25ch;
  padding: 1rem;
  border: 1px solid rgb(138, 74, 166);
}